profiles {
    spartan {
        // Pawsey Setonix nf-core configuration profile
        params {
            max_cpus                   = 64
            max_memory                 = 230.Gb
        }

        // Enable use of Singularity to run containers
        apptainer {
            enabled     = true
            autoMounts  = true
            autoCleanUp = true
        }

        // Submit up to 256 concurrent jobs (Setonix work partition max)
        executor {
            queueSize = 128
        }

        // Define process resource limits
        // See: https://support.pawsey.org.au/documentation/pages/viewpage.action?pageId=121479736#RunningJobsonSetonix-Overview
        process {
            resourceLimits = [
        memory: 230.Gb,
        cpus: 64
    ]
            executor       = 'slurm'
            module         = 'Apptainer/1.3.3'
            cache          = 'lenient'
            stageInMode    = 'symlink'
            queue          = { task.memory < 230.GB ? 'work' : (task.memory > 230.GB && task.memory <= 980.GB ? 'bigmem' : '') }
        }
    }
}
