profiles {
    spartan {
        // Spartan limits. There is a bigmem queue with 3 TB available
        params {
            max_cpus                   = 72
            max_memory                 = 710000.MB
            max_time                   = 90.d
        }

        // Enable use of Singularity to run containers
        apptainer {
            enabled     = true
            autoMounts  = true
            autoCleanUp = true
            runOptions  = '-B $PWD,$TMPDIR,/data --nv -H $(mktemp -d) --pwd $PWD --containall --cleanenv --writable-tmpfs'
            cacheDir    = '/$HOME/.apptainer/cache'
        }

        // Submit up to 256 concurrent jobs (Setonix work partition max)
        executor {
            queueSize = 128
        }

        // Define process resource limits
        process {
            resourceLimits = [
        memory: 230.Gb,
        cpus: 64
    ]
            executor       = 'slurm'
            module         = 'Apptainer/1.3.3'
            cache          = 'lenient'
            stageInMode    = 'symlink'
            queue          = { task.memory > 710000.MB ? 'bigmem' : null }
        }
    }
}
