profiles {
    spartan {
        // Spartan limits. There is a bigmem queue with 3 TB available
        params {
            max_cpus                   = 72
            max_memory                 = 710000.MB
            max_time                   = 90.d
        }

        //  Note, it's tempting to use the apptainer profile, but the nf-core
        //  (and some sanger-tol) pipelines have a conditional
        //  `workflow.containerEngine == 'singularity'` that prevents using the
        //  right URL with apptainer.
        singularity {
            enabled     = true
            autoMounts  = true
            autoCleanUp = true
            runOptions  = '-B $PWD,$TMPDIR,/data --nv -H $(mktemp -d) --pwd $PWD --containall --cleanenv --writable-tmpfs'
        }

        // Submit up to 256 concurrent jobs (Setonix work partition max)
        executor {
            queueSize = 128
        }

        // Define process resource limits
        process {
            resourceLimits = [
        memory: 710000.MB,
        cpus: 72,
    ]
            executor       = 'slurm'
            module         = 'Apptainer/1.3.3'
            cache          = 'lenient'
            stageInMode    = 'symlink'
            queue          = { task.memory > 710000.MB ? 'bigmem' : null }
        }
    }

    pawsey {
        workDir     = "${MYSCRATCH}/atol_test_assembly/.nextflow/work"

        params {
            max_cpus                   = 64
            max_memory                 = 230.GB
            max_time                   = 96.h
        }

        //  Note, it's tempting to use the apptainer profile, but the nf-core
        //  (and some sanger-tol) pipelines have a conditional
        //  `workflow.containerEngine == 'singularity'` that prevents using the
        //  right URL with apptainer.
        singularity {
            enabled     = true
            autoMounts  = true
            autoCleanUp = true
            runOptions  = '-B $PWD,$TMPDIR,/scratch -H $(mktemp -d) --pwd $PWD --containall --cleanenv --writable-tmpfs'
        }

        // Submit up to 256 concurrent jobs (Setonix work partition max)
        executor {
            queueSize = 128
        }

        // Define process resource limits
        process {
            resourceLimits = [
        memory: 230.GB,
        cpus: 64,
    ]
            executor       = 'slurm'
            module         = 'singularity/4.1.0-nohost'
            cache          = 'lenient'
            stageInMode    = 'symlink'
            queue          = { task.memory > 230.GB ? 'highmem' : (task.time > 1.d ? 'long' : null) }
        }
    }
}
