dataset:
  id: {{ dataset_id }}
  pacbio:
    reads:
        {% for reads in pacbio_reads %}- reads: {{ reads }}{% endfor %}
  HiC:
    reads: 
        {% for reads in hic_reads %}- reads: {{ reads }}{% endfor %}        
hic_motif: {{ hic_motif }}
hic_aligner: bwamem2
busco:
  lineage: {{ busco_lineage }}
mito:
  species: {{ mito_species }}
  min_length: {{ mito_min_length }}
  code: {{ mito_code }}
